xsd/sprd.view.xsd

<schema targetNamespace="sprd.view"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:ns1="js.ui"
    xmlns:ns="sprd.view">
    <import/>
    <element name="AppearanceColor" type="ns:AppearanceColor"/>
    <element name="AppearanceColorClass" type="ns:AppearanceColorClass"/>
    <element name="AppearanceColorPicker" type="ns:AppearanceColorPicker"/>
    <element name="AppearanceColorPickerClass" type="ns:AppearanceColorPickerClass"/>
    <element name="AppearanceImage" type="ns:AppearanceImage"/>
    <element name="ArticleImage" type="ns:ArticleImage"/>
    <element name="ColorSelector" type="ns:ColorSelector"/>
    <element name="ColorSelectorClass" type="ns:ColorSelectorClass"/>
    <element name="ConfigurationColorSelector" type="ns:ConfigurationColorSelector"/>
    <element name="ConfigurationColorSelectorClass" type="ns:ConfigurationColorSelectorClass"/>
    <element name="DesignImage" type="ns:DesignImage"/>
    <element name="DndImage" type="ns:DndImage"/>
    <element name="DndImageClass" type="ns:DndImageClass"/>
    <element name="DropDownSizeSelector" type="ns:DropDownSizeSelector"/>
    <element name="DropDownSizeSelectorClass" type="ns:DropDownSizeSelectorClass"/>
    <element name="Image" type="ns:Image"/>
    <element name="ImageClass" type="ns:ImageClass"/>
    <element name="ImageUpload" type="ns:ImageUpload"/>
    <element name="ImageUploadClass" type="ns:ImageUploadClass"/>
    <element name="Imprint" type="ns:Imprint"/>
    <element name="ImprintClass" type="ns:ImprintClass"/>
    <element name="MiniBasket" type="ns:MiniBasket"/>
    <element name="MiniBasketClass" type="ns:MiniBasketClass"/>
    <element name="PrintColorImage" type="ns:PrintColorImage"/>
    <element name="PrintTypePanelBase" type="ns:PrintTypePanelBase"/>
    <element name="PrintTypeSelector" type="ns:PrintTypeSelector"/>
    <element name="PrintTypeSelectorClass" type="ns:PrintTypeSelectorClass"/>
    <element name="ProductImage" type="ns:ProductImage"/>
    <element name="ProductTypeImage" type="ns:ProductTypeImage"/>
    <element name="ProductTypeViewSelector" type="ns:ProductTypeViewSelector"/>
    <element name="ProductTypeViewSelectorClass" type="ns:ProductTypeViewSelectorClass"/>
    <element name="ProductViewSelector" type="ns:ProductViewSelector"/>
    <element name="ProductViewSelectorClass" type="ns:ProductViewSelectorClass"/>
    <element name="ProductViewer" type="ns:ProductViewer"/>
    <element name="ProductViewerClass" type="ns:ProductViewerClass"/>
    <element name="ScrollIntoViewDomNode" type="ns:ScrollIntoViewDomNode"/>
    <element name="SimpleColorPickerClass" type="ns:SimpleColorPickerClass"/>
    <element name="SimpleHorizontalColorPickerClass" type="ns:SimpleHorizontalColorPickerClass"/>
    <element name="SimpleProductViewSelector" type="ns:SimpleProductViewSelector"/>
    <element name="SizeFormatter" type="ns:SizeFormatter"/>
    <element name="SizeFormatterClass" type="ns:SizeFormatterClass"/>
    <element name="SizeSelector" type="ns:SizeSelector"/>
    <element name="SizeSelectorClass" type="ns:SizeSelectorClass"/>
    <element name="TemplateImage" type="ns:TemplateImage"/>
    <element name="UserImage" type="ns:UserImage"/>
    <element name="VirtualProductImage" type="ns:VirtualProductImage"/>
    <element name="VirtualProductView" type="ns:VirtualProductView"/>
    <element name="VirtualProductViewClass" type="ns:VirtualProductViewClass"/>
    <complexType name="AppearanceColor">
        <complexContent>
            <extension base="ns:AppearanceColorClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.AppearanceColor"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="appearance"/>
                <attribute name="title" default="{appearance.name}"/>
                <attribute name="showTitle" default="true"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AppearanceColorClass">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.AppearanceColorClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="appearance"/>
                <attribute name="title" default="{appearance.name}"/>
                <attribute name="showTitle" default="true"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AppearanceColorPicker">
        <complexContent>
            <extension base="ns:AppearanceColorPickerClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.AppearanceColorPicker"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="appearance"/>
                <attribute name="showTitle" default="true"/>
                <attribute name="productType"/>
                <attribute name="product"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AppearanceColorPickerClass">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.AppearanceColorPickerClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="appearance"/>
                <attribute name="showTitle" default="true"/>
                <attribute name="productType"/>
                <attribute name="product"/>
                <attribute name="onappearanceSelect" default="_onAppearanceSelectHandler" type="string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AppearanceImage">
        <complexContent>
            <extension base="ns:Image">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.AppearanceImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="appearance"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ArticleImage">
        <complexContent>
            <extension base="ns:ProductImage">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ArticleImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ColorSelector">
        <complexContent>
            <extension base="ns:ColorSelectorClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ColorSelector"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="colorWidth" default="25"/>
                <attribute name="productType"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ColorSelectorClass">
        <complexContent>
            <extension base="ns1:SelectionView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ColorSelectorClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="colorWidth" default="25"/>
                <attribute name="productType"/>
                <attribute name="onappearanceSelect" default="_onAppearanceSelectHandler" type="string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ConfigurationColorSelector">
        <complexContent>
            <extension base="ns:ConfigurationColorSelectorClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ConfigurationColorSelector"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="configuration">
                    <annotation>
                        <documentation>
                        the configuration, to switch the color
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="layers" default="{layers()}"/>
                <attribute name="autoSelectLayer"/>
                <attribute name="selectedLayer"/>
                <attribute name="autoSelectConfigurationType"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ConfigurationColorSelectorClass">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ConfigurationColorSelectorClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="configuration">
                    <annotation>
                        <documentation>
                        the configuration, to switch the color
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="layers" default="{layers()}"/>
                <attribute name="autoSelectLayer"/>
                <attribute name="selectedLayer"/>
                <attribute name="autoSelectConfigurationType"/>
                <attribute name="oncolorSelected" default="_onColorSelectedHandler" type="string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DesignImage">
        <complexContent>
            <extension base="ns:Image">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.DesignImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="design"/>
                <attribute name="view">
                    <annotation>
                        <documentation>
                         if null use default view
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DndImage">
        <complexContent>
            <extension base="ns:DndImageClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.DndImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="configurationViewer"/>
                <attribute name="svgContainer"/>
                <attribute name="design"/>
                <attribute name="hoverState"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DndImageClass">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.DndImageClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="configurationViewer"/>
                <attribute name="svgContainer"/>
                <attribute name="design"/>
                <attribute name="hoverState"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DropDownSizeSelector">
        <complexContent>
            <extension base="ns:DropDownSizeSelectorClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.DropDownSizeSelector"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="type" default="{btnType()}"/>
                <attribute name="productType">
                    <annotation>
                        <documentation>
                        the product type to show sizes for
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="appearance">
                    <annotation>
                        <documentation>
                        the selected appearance of the product type
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectedSize">
                    <annotation>
                        <documentation>
                        the selected size
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DropDownSizeSelectorClass">
        <complexContent>
            <extension base="ns1:MenuButton">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.DropDownSizeSelectorClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="type" default="{btnType()}"/>
                <attribute name="productType">
                    <annotation>
                        <documentation>
                        the product type to show sizes for
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="appearance">
                    <annotation>
                        <documentation>
                        the selected appearance of the product type
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="selectedSize">
                    <annotation>
                        <documentation>
                        the selected size
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Image">
        <complexContent>
            <extension base="ns:ImageClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.Image"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="display" default="inline-block"/>
                <attribute name="loadLazy">
                    <annotation>
                        <documentation>
                        Set to true to load images only when in viewport
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="unveiled">
                    <annotation>
                        <documentation>
                        Returns true if image is unveiled
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="loaded">
                    <annotation>
                        <documentation>
                        the loading state
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="loadingError">
                    <annotation>
                        <documentation>
                        indicator if image has a loading error
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="width">
                    <annotation>
                        <documentation>
                        the width of the Image
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="height">
                    <annotation>
                        <documentation>
                        the height of the Image
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="src" default="{imageUrl()}">
                    <annotation>
                        <documentation>
                        the source of the Image
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="title">
                    <annotation>
                        <documentation>
                        the title of the Image
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="loadLazyThreshold">
                    <annotation>
                        <documentation>
                        Lazy Load threshold
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ImageClass">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ImageClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="loadLazy">
                    <annotation>
                        <documentation>
                        Set to true to load images only when in viewport
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="unveiled">
                    <annotation>
                        <documentation>
                        Returns true if image is unveiled
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="loaded">
                    <annotation>
                        <documentation>
                        the loading state
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="loadingError">
                    <annotation>
                        <documentation>
                        indicator if image has a loading error
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="width">
                    <annotation>
                        <documentation>
                        the width of the Image
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="height">
                    <annotation>
                        <documentation>
                        the height of the Image
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="src" default="{imageUrl()}">
                    <annotation>
                        <documentation>
                        the source of the Image
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="title">
                    <annotation>
                        <documentation>
                        the title of the Image
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="loadLazyThreshold">
                    <annotation>
                        <documentation>
                        Lazy Load threshold
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ImageUpload">
        <complexContent>
            <extension base="ns:ImageUploadClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ImageUpload"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="ondragenter" default="dragEnter"/>
                <attribute name="ondragexit" default="dragExit"/>
                <attribute name="ondrop" default="dropImage"/>
                <attribute name="ondragover" default="dragOver"/>
                <attribute name="items"/>
                <attribute name="imageWidth" default="100"/>
                <attribute name="displayNotice" default="true"/>
                <attribute name="uploadContext"/>
                <attribute name="notice" default="Drop your files here."/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ImageUploadClass">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ImageUploadClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="items"/>
                <attribute name="imageWidth" default="100"/>
                <attribute name="displayNotice" default="true"/>
                <attribute name="uploadContext"/>
                <attribute name="notice" default="Drop your files here."/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Imprint">
        <complexContent>
            <extension base="ns:ImprintClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.Imprint"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="platform" default="EU"/>
                <attribute name="locale"/>
                <attribute name="name"/>
                <attribute name="defaults"/>
                <attribute name="street"/>
                <attribute name="city"/>
                <attribute name="country"/>
                <attribute name="board"/>
                <attribute name="boardDirector"/>
                <attribute name="vatId"/>
                <attribute name="tradeRegister"/>
                <attribute name="email"/>
                <attribute name="website"/>
                <attribute name="phone"/>
                <attribute name="fax"/>
                <attribute name="rstv"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ImprintClass">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ImprintClass">
                                 TODO: I18n.
                            </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="platform" default="EU"/>
                <attribute name="locale"/>
                <attribute name="name"/>
                <attribute name="defaults"/>
                <attribute name="street"/>
                <attribute name="city"/>
                <attribute name="country"/>
                <attribute name="board"/>
                <attribute name="boardDirector"/>
                <attribute name="vatId"/>
                <attribute name="tradeRegister"/>
                <attribute name="email"/>
                <attribute name="website"/>
                <attribute name="phone"/>
                <attribute name="fax"/>
                <attribute name="rstv"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MiniBasket">
        <complexContent>
            <extension base="ns:MiniBasketClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.MiniBasket"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="currency" default="{basket.currency}"/>
                <attribute name="basket" default="{basketManager.basket}"/>
                <attribute name="loading"/>
                <attribute name="itemCount" default="{basket.totalItemsCount()}"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MiniBasketClass">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.MiniBasketClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="currency" default="{basket.currency}"/>
                <attribute name="basket" default="{basketManager.basket}"/>
                <attribute name="loading"/>
                <attribute name="itemCount" default="{basket.totalItemsCount()}"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PrintColorImage">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.PrintColorImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="printColor"/>
                <attribute name="loaded"/>
                <attribute name="platform" default="{PARAMETER().platform}"/>
                <attribute name="data-print-color-id" default="{printColor.id}"/>
                <attribute name="backgroundColor" default="{backgroundColor()}"/>
                <attribute name="backgroundImage" default="{backgroundImage()}"/>
                <attribute name="backgroundPosition" default="{backgroundPosition()}"/>
                <attribute name="backgroundSize" default="34px"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PrintTypePanelBase">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.PrintTypePanelBase"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="specialFlex"/>
                <attribute name="nylonFlex"/>
                <attribute name="plotType"/>
                <attribute name="configuration"/>
                <attribute name="possiblePrintTypes" default="{configuration.getPossiblePrintTypes(product.appearance)}"/>
                <attribute name="flex"/>
                <attribute name="flock"/>
                <attribute name="product"/>
                <attribute name="printType"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PrintTypeSelector">
        <complexContent>
            <extension base="ns:PrintTypeSelectorClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.PrintTypeSelector"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PrintTypeSelectorClass">
        <complexContent>
            <extension base="ns:PrintTypePanelBase">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.PrintTypeSelectorClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="onprintTypeSelect" default="_onPrintTypeSelectHandler" type="string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductImage">
        <complexContent>
            <extension base="ns:Image">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ProductImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="view">
                    <annotation>
                        <documentation>
                        the view of the corresponding product type. If the view isn't set
the default view will be used.
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="product" use="required">
                    <annotation>
                        <documentation>
                        the product to show

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="appearance">
                    <annotation>
                        <documentation>
                        the appearance of the corresponding product type. If the appearance isn't
set the default appearance of the product is used.
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="type"/>
                <attribute name="mediaType"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductTypeImage">
        <complexContent>
            <extension base="ns:Image">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ProductTypeImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="type" default="preview"/>
                <attribute name="productType"/>
                <attribute name="appearance"/>
                <attribute name="view"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductTypeViewSelector">
        <complexContent>
            <extension base="ns:ProductTypeViewSelectorClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ProductTypeViewSelector"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="product">
                    <annotation>
                        <documentation>
                         if null use default view
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="appearance"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductTypeViewSelectorClass">
        <complexContent>
            <extension base="ns1:SelectionView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ProductTypeViewSelectorClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="product">
                    <annotation>
                        <documentation>
                         if null use default view
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="appearance"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductViewSelector">
        <complexContent>
            <extension base="ns:ProductViewSelectorClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ProductViewSelector"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="showViewNames"/>
                <attribute name="product"/>
                <attribute name="viewHeight" default="50"/>
                <attribute name="viewWidth" default="50"/>
                <attribute name="viewsWithWarnings"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductViewSelectorClass">
        <complexContent>
            <extension base="ns1:SelectionView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ProductViewSelectorClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="showViewNames"/>
                <attribute name="product"/>
                <attribute name="viewHeight" default="50"/>
                <attribute name="viewWidth" default="50"/>
                <attribute name="viewsWithWarnings"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductViewer">
        <complexContent>
            <extension base="ns:ProductViewerClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ProductViewer"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="view"/>
                <attribute name="product"/>
                <attribute name="width" default="300"/>
                <attribute name="height" default="300"/>
                <attribute name="selectedConfiguration"/>
                <attribute name="editable" default="true"/>
                <attribute name="focused" default="true"/>
                <attribute name="autoDeselectConfiguration" default="true"/>
                <attribute name="showConfigurationInformation"/>
                <attribute name="productViewerSvg"/>
                <attribute name="removeEmptyTextConfiguration" default="true"/>
                <attribute name="removeNewConfigurations"/>
                <attribute name="bringSelectedConfigurationToFront" default="true"/>
                <attribute name="imageService"/>
                <attribute name="error" default="{product.configurationsOnViewError(view)}"/>
                <attribute name="copiedConfiguration"/>
                <attribute name="zoomToPrintArea"/>
                <attribute name="zoomToConfiguration"/>
                <attribute name="maxZoom" default="1"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductViewerClass">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ProductViewerClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="view"/>
                <attribute name="product"/>
                <attribute name="width" default="300"/>
                <attribute name="height" default="300"/>
                <attribute name="selectedConfiguration"/>
                <attribute name="editable" default="true"/>
                <attribute name="focused" default="true"/>
                <attribute name="autoDeselectConfiguration" default="true"/>
                <attribute name="showConfigurationInformation"/>
                <attribute name="productViewerSvg"/>
                <attribute name="removeEmptyTextConfiguration" default="true"/>
                <attribute name="removeNewConfigurations"/>
                <attribute name="bringSelectedConfigurationToFront" default="true"/>
                <attribute name="imageService"/>
                <attribute name="error" default="{product.configurationsOnViewError(view)}"/>
                <attribute name="copiedConfiguration"/>
                <attribute name="zoomToPrintArea"/>
                <attribute name="zoomToConfiguration"/>
                <attribute name="maxZoom" default="1"/>
                <attribute name="onconfigurationSelect" default="_onConfigurationSelectHandler" type="string"/>
                <attribute name="ondeselectConfiguration" default="_onDeselectConfigurationHandler" type="string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ScrollIntoViewDomNode">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ScrollIntoViewDomNode"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="scrollDelay"/>
                <attribute name="duration"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SimpleColorPickerClass">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/designer.view.SimpleColorPickerClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="color"/>
                <attribute name="colors"/>
                <attribute name="itemHeight" default="15"/>
                <attribute name="oncolorSelect" default="_onColorSelectHandler" type="string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SimpleHorizontalColorPickerClass">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/designer.view.SimpleHorizontalColorPickerClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="color"/>
                <attribute name="colors"/>
                <attribute name="itemWidth" default="20"/>
                <attribute name="oncolorSelect" default="_onColorSelectHandler" type="string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SimpleProductViewSelector">
        <complexContent>
            <extension base="ns1:SelectionView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.SimpleProductViewSelector"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="product"/>
                <attribute name="appearance"/>
                <attribute name="viewHeight" default="50"/>
                <attribute name="viewWidth" default="50"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SizeFormatter">
        <complexContent>
            <extension base="ns:SizeFormatterClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.SizeFormatter"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="size"/>
                <attribute name="string" default="{formatSizeName(size.name)}"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SizeFormatterClass">
        <complexContent>
            <extension base="ns1:TextWrapper">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.SizeFormatterClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="size"/>
                <attribute name="string" default="{formatSizeName(size.name)}"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SizeSelector">
        <complexContent>
            <extension base="ns:SizeSelectorClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.SizeSelector"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="productType">
                    <annotation>
                        <documentation>
                         if null use default view
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="appearance"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SizeSelectorClass">
        <complexContent>
            <extension base="ns1:SelectionView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.SizeSelectorClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="productType">
                    <annotation>
                        <documentation>
                         if null use default view
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="appearance"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TemplateImage">
        <complexContent>
            <extension base="ns:Image">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.TemplateImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="template" use="required">
                    <annotation>
                        <documentation>
                        the template to show

                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="UserImage">
        <complexContent>
            <extension base="ns:Image">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.UserImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="user">
                    <annotation>
                        <documentation>
                         if null use default view
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VirtualProductImage">
        <complexContent>
            <extension base="ns:Image">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.VirtualProductImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="virtualProduct"/>
                <attribute name="viewId"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VirtualProductView">
        <complexContent>
            <extension base="ns:VirtualProductViewClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.VirtualProductView"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="virtualProduct"/>
                <attribute name="perspective"/>
                <attribute name="editable"/>
                <attribute name="width" default="200"/>
                <attribute name="height" default="200"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VirtualProductViewClass">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.VirtualProductViewClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="virtualProduct"/>
                <attribute name="perspective"/>
                <attribute name="editable"/>
                <attribute name="width" default="200"/>
                <attribute name="height" default="200"/>
            </extension>
        </complexContent>
    </complexType>
</schema>