xsd/sprd.data.xsd

<schema targetNamespace="sprd.data"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:ns1="js.data"
    xmlns:ns2="js.core"
    xmlns:ns="sprd.data">
    <import/>
    <import/>
    <element name="DesignerApiDataSource" type="ns:DesignerApiDataSource"/>
    <element name="DesignerApiDataSourceClass" type="ns:DesignerApiDataSourceClass"/>
    <element name="IImageUploadService" type="ns:IImageUploadService"/>
    <element name="ImageServerDataSource" type="ns:ImageServerDataSource"/>
    <element name="ImageServerDataSourceClass" type="ns:ImageServerDataSourceClass"/>
    <element name="ImageService" type="ns:ImageService"/>
    <element name="ImageUploadService" type="ns:ImageUploadService"/>
    <element name="ImageUploadServiceV2" type="ns:ImageUploadServiceV2"/>
    <element name="LabelService" type="ns:LabelService"/>
    <element name="SprdApiDataSource" type="ns:SprdApiDataSource"/>
    <element name="SprdApiDataSourceClass" type="ns:SprdApiDataSourceClass"/>
    <element name="SprdDataSource" type="ns:SprdDataSource"/>
    <element name="TranslationService" type="ns:TranslationService"/>
    <element name="TranslationServiceClass" type="ns:TranslationServiceClass"/>
    <complexType name="DesignerApiDataSource">
        <complexContent>
            <extension base="ns:DesignerApiDataSourceClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.data.DesignerApiDataSource"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="language"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DesignerApiDataSourceClass">
        <complexContent>
            <extension base="ns1:RestDataSource">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.data.DesignerApiDataSourceClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="language"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="IImageUploadService">
        <complexContent>
            <extension base="ns2:Component">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.data.IImageUploadService"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="uploadContext"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ImageServerDataSource">
        <complexContent>
            <extension base="ns:ImageServerDataSourceClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.data.ImageServerDataSource"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ImageServerDataSourceClass">
        <complexContent>
            <extension base="ns:SprdDataSource">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.data.ImageServerDataSourceClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ImageService">
        <complexContent>
            <extension base="ns2:Component">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.data.ImageService"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="subDomainCount" default="10"/>
                <attribute name="endPoint" default="//image.spreadshirt.net/image-server/v1"/>
                <attribute name="gateway" default="/image-server/v1"/>
                <attribute name="detectWebP" default="true"/>
                <attribute name="supportsWebP"/>
                <attribute name="designCache"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ImageUploadService">
        <complexContent>
            <extension base="ns:IImageUploadService">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.data.ImageUploadService"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ImageUploadServiceV2">
        <complexContent>
            <extension base="ns:IImageUploadService">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.data.ImageUploadServiceV2"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="maxRetries" default="30"/>
                <attribute name="retryTimeout" default="1000"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="LabelService">
        <complexContent>
            <extension base="ns2:Component">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.data.LabelService"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="dataSource">
                    <annotation>
                        <documentation>
                         Spreadshirt DataSource
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SprdApiDataSource">
        <complexContent>
            <extension base="ns:SprdApiDataSourceClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.data.SprdApiDataSource"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="locale" default="en_EU"/>
                <attribute name="keepRawData"/>
                <attribute name="noCache"/>
                <attribute name="mode"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SprdApiDataSourceClass">
        <complexContent>
            <extension base="ns:SprdDataSource">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.data.SprdApiDataSourceClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="locale" default="en_EU"/>
                <attribute name="keepRawData"/>
                <attribute name="noCache"/>
                <attribute name="mode"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SprdDataSource">
        <complexContent>
            <extension base="ns1:RestDataSource">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.data.SprdDataSource"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="apiKey"/>
                <attribute name="secret"/>
                <attribute name="session"/>
                <attribute name="checkoutToken"/>
                <attribute name="authToken"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TranslationService">
        <complexContent>
            <extension base="ns:TranslationServiceClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.data.TranslationService"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="locale" default="en_EU"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TranslationServiceClass">
        <complexContent>
            <extension base="ns:SprdDataSource">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.data.TranslationServiceClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="locale" default="en_EU"/>
            </extension>
        </complexContent>
    </complexType>
</schema>