xsd/sprd.manager.xsd

<schema targetNamespace="sprd.manager"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:ns1="js.core"
    xmlns:ns="sprd.manager">
    <import namespace="js.core"/>
    <element name="ApiBasketManager" type="ns:ApiBasketManager"/>
    <element name="ExternalBasketManager" type="ns:ExternalBasketManager"/>
    <element name="IBasketManager" type="ns:IBasketManager"/>
    <complexType name="ApiBasketManager">
        <complexContent>
            <extension base="ns:IBasketManager">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.manager.ApiBasketManager">
                                A BasketManager to interact with the Spreadshirt Basket API


                            </documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="basket">
                    <annotation>
                        <documentation>
                        the basket model
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="apiBasketId">
                    <annotation>
                        <documentation>
                        the id of the api basket which should try to be loaded.
If the id isn't set the id is retrieved from the local storage or generated by the api
after the basket has been created successfully. The id is written back to this property.
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="shop">
                    <annotation>
                        <documentation>
                        the shop used for creating a new basket
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="onbasketChanged" default="_onBasketChangedHandler" type="string">
                    <annotation>
                        <documentation>
                        the basketChanged event is dispatched after the basket has been modified e.g. added, removed or updated an
BasketItem
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ExternalBasketManager">
        <complexContent>
            <extension base="ns:IBasketManager">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.manager.ExternalBasketManager"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="externalBasket">
                    <annotation>
                        <documentation></documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="IBasketManager">
        <complexContent>
            <extension base="ns1:Component">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.manager.IBasketManager"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
</schema>