xsd/sprd.view.xsd

<schema targetNamespace="sprd.view"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:ns1="js.ui"
    xmlns:ns="sprd.view">
    <import namespace="js.ui"/>
    <element name="AppearanceImage" type="ns:AppearanceImage"/>
    <element name="ArticleImage" type="ns:ArticleImage"/>
    <element name="ColorSelector" type="ns:ColorSelector"/>
    <element name="ColorSelectorClass" type="ns:ColorSelectorClass"/>
    <element name="DesignImage" type="ns:DesignImage"/>
    <element name="DropDownSizeSelector" type="ns:DropDownSizeSelector"/>
    <element name="Image" type="ns:Image"/>
    <element name="ImageClass" type="ns:ImageClass"/>
    <element name="ImageUpload" type="ns:ImageUpload"/>
    <element name="ImageUploadClass" type="ns:ImageUploadClass"/>
    <element name="PrintColorImage" type="ns:PrintColorImage"/>
    <element name="ProductImage" type="ns:ProductImage"/>
    <element name="ProductTypeImage" type="ns:ProductTypeImage"/>
    <element name="ProductTypeViewSelector" type="ns:ProductTypeViewSelector"/>
    <element name="ProductViewer" type="ns:ProductViewer"/>
    <element name="ProductViewerClass" type="ns:ProductViewerClass"/>
    <element name="ProductViewSelector" type="ns:ProductViewSelector"/>
    <element name="SimpleProductViewSelector" type="ns:SimpleProductViewSelector"/>
    <element name="SizeSelector" type="ns:SizeSelector"/>
    <element name="SizeSelectorClass" type="ns:SizeSelectorClass"/>
    <element name="UserImage" type="ns:UserImage"/>
    <complexType name="AppearanceImage">
        <complexContent>
            <extension base="ns:Image">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.AppearanceImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="appearance"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ArticleImage">
        <complexContent>
            <extension base="ns:ProductImage">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ArticleImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ColorSelector">
        <complexContent>
            <extension base="ns:ColorSelectorClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ColorSelector"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="colorWidth" default="25"/>
                <attribute name="productType"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ColorSelectorClass">
        <complexContent>
            <extension base="ns1:SelectionView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ColorSelectorClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="colorWidth" default="25"/>
                <attribute name="productType"/>
                <attribute name="onappearanceSelect" default="_onAppearanceSelectHandler" type="string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DesignImage">
        <complexContent>
            <extension base="ns:Image">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.DesignImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="design"/>
                <attribute name="view">
                    <annotation>
                        <documentation>
                         if null use default view
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DropDownSizeSelector">
        <complexContent>
            <extension base="ns1:MenuButton">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.DropDownSizeSelector"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="type" default="{btnType()}"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Image">
        <complexContent>
            <extension base="ns:ImageClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.Image"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="display" default="inline-block"/>
                <attribute name="loaded">
                    <annotation>
                        <documentation>
                        the loading state
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="width">
                    <annotation>
                        <documentation>
                        the width of the Image
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="height">
                    <annotation>
                        <documentation>
                        the height of the Image
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="src">
                    <annotation>
                        <documentation>
                        the source of the Image
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="title">
                    <annotation>
                        <documentation>
                        the title of the Image
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ImageClass">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ImageClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="loaded">
                    <annotation>
                        <documentation>
                        the loading state
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="width">
                    <annotation>
                        <documentation>
                        the width of the Image
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="height">
                    <annotation>
                        <documentation>
                        the height of the Image
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="src">
                    <annotation>
                        <documentation>
                        the source of the Image
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="title">
                    <annotation>
                        <documentation>
                        the title of the Image
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ImageUpload">
        <complexContent>
            <extension base="ns:ImageUploadClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ImageUpload"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="ondragenter" default="dragEnter"/>
                <attribute name="ondragexit" default="dragExit"/>
                <attribute name="ondrop" default="dropImage"/>
                <attribute name="ondragover" default="dragOver"/>
                <attribute name="notice" default="Drop your files here."/>
                <attribute name="items"/>
                <attribute name="imageWidth" default="100"/>
                <attribute name="displayNotice" default="true"/>
                <attribute name="uploadContext"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ImageUploadClass">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ImageUploadClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="items"/>
                <attribute name="imageWidth" default="100"/>
                <attribute name="displayNotice" default="true"/>
                <attribute name="uploadContext"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PrintColorImage">
        <complexContent>
            <extension base="ns:Image">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.PrintColorImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="printColor"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductImage">
        <complexContent>
            <extension base="ns:Image">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ProductImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="view">
                    <annotation>
                        <documentation>
                        the view of the corresponding product type. If the view isn't set
the default view will be used.
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="product" use="required">
                    <annotation>
                        <documentation>
                        the product to show

                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="appearance">
                    <annotation>
                        <documentation>
                        the appearance of the corresponding product type. If the appearance isn't
set the default appearance of the product is used.
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="type"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductTypeImage">
        <complexContent>
            <extension base="ns:Image">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ProductTypeImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="type" default="preview"/>
                <attribute name="productType"/>
                <attribute name="appearance"/>
                <attribute name="view"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductTypeViewSelector">
        <complexContent>
            <extension base="ns1:SelectionView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ProductTypeViewSelector"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductViewer">
        <complexContent>
            <extension base="ns:ProductViewerClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ProductViewer"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="view"/>
                <attribute name="product"/>
                <attribute name="width" default="300"/>
                <attribute name="height" default="300"/>
                <attribute name="selectedConfiguration"/>
                <attribute name="editable" default="true"/>
                <attribute name="focused" default="true"/>
                <attribute name="productViewerSvg"/>
                <attribute name="textArea"/>
                <attribute name="textAreaPosition"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductViewerClass">
        <complexContent>
            <extension base="ns1:View">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ProductViewerClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="view"/>
                <attribute name="product"/>
                <attribute name="width" default="300"/>
                <attribute name="height" default="300"/>
                <attribute name="selectedConfiguration"/>
                <attribute name="editable" default="true"/>
                <attribute name="focused" default="true"/>
                <attribute name="productViewerSvg"/>
                <attribute name="textArea"/>
                <attribute name="textAreaPosition"/>
                <attribute name="onconfigurationSelect" default="_onConfigurationSelectHandler" type="string"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductViewSelector">
        <complexContent>
            <extension base="ns1:SelectionView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.ProductViewSelector"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="product" default="null"/>
                <attribute name="viewHeight" default="50"/>
                <attribute name="viewWidth" default="50"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SimpleProductViewSelector">
        <complexContent>
            <extension base="ns1:SelectionView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.SimpleProductViewSelector"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="product"/>
                <attribute name="viewHeight" default="50"/>
                <attribute name="viewWidth" default="50"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SizeSelector">
        <complexContent>
            <extension base="ns:SizeSelectorClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.SizeSelector"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="productType">
                    <annotation>
                        <documentation>
                         if null use default view
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="appearance"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SizeSelectorClass">
        <complexContent>
            <extension base="ns1:SelectionView">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.SizeSelectorClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="productType">
                    <annotation>
                        <documentation>
                         if null use default view
                    </documentation>
                    </annotation>
                </attribute>
                <attribute name="appearance"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="UserImage">
        <complexContent>
            <extension base="ns:Image">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.UserImage"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="user">
                    <annotation>
                        <documentation>
                         if null use default view
                    </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
</schema>