xsd/sprd.view.svg.xsd

<schema targetNamespace="sprd.view.svg"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:ns1="js.svg"
    xmlns:ns="sprd.view.svg">
    <import/>
    <element name="BendingTextConfigurationRenderer" type="ns:BendingTextConfigurationRenderer"/>
    <element name="BendingTextConfigurationRendererClass" type="ns:BendingTextConfigurationRendererClass"/>
    <element name="ConfigurationRenderer" type="ns:ConfigurationRenderer"/>
    <element name="ConfigurationViewer" type="ns:ConfigurationViewer"/>
    <element name="ConfigurationViewerClass" type="ns:ConfigurationViewerClass"/>
    <element name="DesignConfigurationRenderer" type="ns:DesignConfigurationRenderer"/>
    <element name="DesignConfigurationRendererClass" type="ns:DesignConfigurationRendererClass"/>
    <element name="PatternRenderer" type="ns:PatternRenderer"/>
    <element name="PatternRendererClass" type="ns:PatternRendererClass"/>
    <element name="PrintAreaViewer" type="ns:PrintAreaViewer"/>
    <element name="PrintAreaViewerClass" type="ns:PrintAreaViewerClass"/>
    <element name="ProductTypeViewViewer" type="ns:ProductTypeViewViewer"/>
    <element name="SpecialTextConfigurationRenderer" type="ns:SpecialTextConfigurationRenderer"/>
    <element name="SpecialTextConfigurationRendererClass" type="ns:SpecialTextConfigurationRendererClass"/>
    <element name="TextConfigurationRenderer" type="ns:TextConfigurationRenderer"/>
    <element name="TextConfigurationRendererClass" type="ns:TextConfigurationRendererClass"/>
    <complexType name="BendingTextConfigurationRenderer">
        <complexContent>
            <extension base="ns:BendingTextConfigurationRendererClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.BendingTextConfigurationRenderer"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="productViewer"/>
                <attribute name="configurationViewer"/>
                <attribute name="configuration"/>
                <attribute name="textPath"/>
                <attribute name="path"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="BendingTextConfigurationRendererClass">
        <complexContent>
            <extension base="ns:PatternRenderer">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.BendingTextConfigurationRendererClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="productViewer"/>
                <attribute name="configurationViewer"/>
                <attribute name="configuration"/>
                <attribute name="textPath"/>
                <attribute name="path"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ConfigurationRenderer">
        <complexContent>
            <extension base="ns1:SvgElement">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.ConfigurationRenderer"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="x"/>
                <attribute name="y"/>
                <attribute name="width" default="{configuration.size().width}"/>
                <attribute name="height" default="{configuration.size().height}"/>
                <attribute name="focused" default="{configurationViewer.focused}"/>
                <attribute name="imageService"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ConfigurationViewer">
        <complexContent>
            <extension base="ns:ConfigurationViewerClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.ConfigurationViewer"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="tagName" default="g"/>
                <attribute name="configuration"/>
                <attribute name="data-configuration-type" default="{configurationType()}"/>
                <attribute name="productViewer"/>
                <attribute name="printAreaViewer"/>
                <attribute name="product"/>
                <attribute name="focused" default="{isFocused()}"/>
                <attribute name="selected" default="{isSelectedConfiguration()}"/>
                <attribute name="imageService"/>
                <attribute name="preventValidation" default="true"/>
                <attribute name="downVector"/>
                <attribute name="moveVector"/>
                <attribute name="centerVector"/>
                <attribute name="rotationSnap"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ConfigurationViewerClass">
        <complexContent>
            <extension base="ns1:SvgElement">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.ConfigurationViewerClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="tagName" default="g"/>
                <attribute name="configuration"/>
                <attribute name="data-configuration-type" default="{configurationType()}"/>
                <attribute name="productViewer"/>
                <attribute name="printAreaViewer"/>
                <attribute name="product"/>
                <attribute name="focused" default="{isFocused()}"/>
                <attribute name="selected" default="{isSelectedConfiguration()}"/>
                <attribute name="imageService"/>
                <attribute name="preventValidation" default="true"/>
                <attribute name="downVector"/>
                <attribute name="moveVector"/>
                <attribute name="centerVector"/>
                <attribute name="rotationSnap"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DesignConfigurationRenderer">
        <complexContent>
            <extension base="ns:DesignConfigurationRendererClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.DesignConfigurationRenderer"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="data-mask-id" default="{configuration.afterEffect.id}"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DesignConfigurationRendererClass">
        <complexContent>
            <extension base="ns:PatternRenderer">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.DesignConfigurationRendererClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="data-mask-id" default="{configuration.afterEffect.id}"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PatternRenderer">
        <complexContent>
            <extension base="ns:PatternRendererClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.PatternRenderer"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="tagName" default="g"/>
                <attribute name="maskId"/>
                <attribute name="isSpecialFlex" default="{isSpecialFlex()}"/>
                <attribute name="isFlock" default="{isFlock()}"/>
                <attribute name="largeSize" default="{largeSize()}"/>
                <attribute name="filter" default="{filter()}"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PatternRendererClass">
        <complexContent>
            <extension base="ns:ConfigurationRenderer">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.PatternRendererClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="tagName" default="g"/>
                <attribute name="maskId"/>
                <attribute name="isSpecialFlex" default="{isSpecialFlex()}"/>
                <attribute name="isFlock" default="{isFlock()}"/>
                <attribute name="largeSize" default="{largeSize()}"/>
                <attribute name="filter" default="{filter()}"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PrintAreaViewer">
        <complexContent>
            <extension base="ns:PrintAreaViewerClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.PrintAreaViewer"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="tagName" default="g"/>
                <attribute name="productTypeViewViewer"/>
                <attribute name="product"/>
                <attribute name="productViewer"/>
                <attribute name="snapLines"/>
                <attribute name="snapLinesGroup"/>
                <attribute name="imageService"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PrintAreaViewerClass">
        <complexContent>
            <extension base="ns1:SvgElement">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.PrintAreaViewerClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="tagName" default="g"/>
                <attribute name="productTypeViewViewer"/>
                <attribute name="product"/>
                <attribute name="productViewer"/>
                <attribute name="snapLines"/>
                <attribute name="snapLinesGroup"/>
                <attribute name="imageService"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProductTypeViewViewer">
        <complexContent>
            <extension base="ns1:SvgElement">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.ProductTypeViewViewer"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="tagName" default="g"/>
                <attribute name="product"/>
                <attribute name="productViewer"/>
                <attribute name="imageService"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SpecialTextConfigurationRenderer">
        <complexContent>
            <extension base="ns:SpecialTextConfigurationRendererClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.SpecialTextConfigurationRenderer"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="tagName" default="g"/>
                <attribute name="loading" default="{configuration.loading}"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SpecialTextConfigurationRendererClass">
        <complexContent>
            <extension base="ns:ConfigurationRenderer">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.SpecialTextConfigurationRendererClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="loading" default="{configuration.loading}"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TextConfigurationRenderer">
        <complexContent>
            <extension base="ns:TextConfigurationRendererClass">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.TextConfigurationRenderer"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="productViewer"/>
                <attribute name="configurationViewer"/>
                <attribute name="configuration"/>
                <attribute name="showSelection" default="{configurationViewer.isSelectedConfiguration()}"/>
                <attribute name="textArea"/>
                <attribute name="hasSpecialColor" default="{hasSpecialColor()}"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TextConfigurationRendererClass">
        <complexContent>
            <extension base="ns:PatternRenderer">
                <annotation>
                    <documentation source="http://www.rappidjs.com/#/api/sprd.view.svg.TextConfigurationRendererClass"></documentation>
                </annotation>
                <sequence>
                    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="productViewer"/>
                <attribute name="configurationViewer"/>
                <attribute name="configuration"/>
                <attribute name="showSelection" default="{configurationViewer.isSelectedConfiguration()}"/>
                <attribute name="textArea"/>
                <attribute name="hasSpecialColor" default="{hasSpecialColor()}"/>
            </extension>
        </complexContent>
    </complexType>
</schema>